html {
    margin:0;
}
body {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    color: #3F3F3E;
    background-color: #fff;
    line-height: 1.7em;
    font-weight: 500;
}
.navbar {
    background-color: white;
    border-bottom: 1px solid #cccbcb;
}
.navbar-light .navbar-nav .nav-link {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1rem;
    color: rgba(0,0,0,.7);
}
.nav {
    width: 100%;
    margin: auto;
    justify-content: center;
    padding: 10px;
}
.navbar-nav, .navbar-collapse {
    align-items: end;
    justify-content: end;
}
#logo {
    height: 120px;
    width: auto;
}
.navbar-toggler {
    color: white;
    background-color: #CDB775;
}
.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4, p, button {
    text-align: center;
    padding-top: 20px;
}
h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2.5rem;
    padding-bottom: 15px;
    background-color: #CDB775;
}
h2 {
    font-size: 1.3rem;
    padding-bottom: 10px;
}
h3 {
    font-size: 1rem;
    padding-bottom: 0;
    margin-bottom: 0%;
}
.title-carousel {
    color: #3F3F3E;
    background-color: white;
    border: 1px solid #CDB775;
    box-shadow: 0 30px 50px 0 #c2c2c1;
    border-radius: 5px;
}
p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    font-weight: 400;
    font-size: 1rem;
}
.courses {
    font-size: 0.8rem;
}
a, .link {
    color: #CDB775;
    font-weight: bold;
    text-decoration :none !important;
}
a:hover, .link:hover {
    font-size: 1rem;
    color: #9999A1;
    text-decoration: none ;
}
option {
    color: #3F3F3E;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9rem;
}
li {
    text-decoration: none;
    padding: 5px 15px 5px 15px;
}
.errors {
    background-color: rgb(202, 95, 95);
    color: white;
}

/*form*/
.form-control {
    max-width: 500px;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.form {
  background: #fff;
  box-shadow: 0 30px 50px 0 #c2c2c1;
  border-radius: 5px;
  max-width: 480px;
  margin: 10px auto 50px auto;
  padding-top: 5px;
  padding-bottom: 5px;
  left: 0;
  right: 0;
  border-top: 5px solid #CDB775;
}

.name, .email, .tel, .password, .select {
  background-color: #ebebeb;
}

.name:hover,.email:hover, .tel:hover, .password:hover {
  border-bottom: 5px solid #CDB775;
  width: 350px;
  transition: ease 0.5s;
}
.message {
    background-color: #ebebeb;
    overflow: hidden;
    height: 10rem;
  }
  
.message:hover {
    border-bottom: 5px solid #CDB775;
    height: 12em;
    width: 350px;
    transition: ease 0.5s;
  }

.info {
    font-size: 0.7rem;
    text-align: center;
}
.btn-radio {
    text-align: center;
}

legend {
    font-size: 1.2rem;
    padding-top: 10px;
    padding-bottom: 0;
}
.checkbox {
    margin-left: 170px;
}

.form-checkbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px auto 5px auto;
    min-width: 250px;
}
.formLabel {
    font-size: 1.2rem;
    display: block;
    margin: 10px auto 3px auto;
    min-width: 300px;
    padding-top: 10px;
    padding-bottom: 0;
    text-align: center;
}
.formEntry {
    display: block;
    margin: 3px auto 5px auto;
    min-width: 300px;
    padding: 10px;
    border-radius: 2px;
    border: none;
    transition: all 0.5s ease 0s;
}
.number {
    display: block;
    margin: 3px auto 5px auto;
    max-width: 70px;
    padding: 10px;
    border-radius: 2px;
    border: 1 solid #CDB775;
}
.submit {
    display: block;
    margin: 10px auto;
    min-width: 150px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CDB775;
    transition: all 0.5s ease 0s;
    color: #CDB775;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
}
.submit:hover {
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
    transform: translateY(-3px);
    width: 200px;
    color: #9999A1;
}
.inline {
    display: flex;
}
.display {
    display: none;
}
/*fin form*/
/*réservations*/
.btn-booking {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px auto 5px auto;
    min-width: 200px;
}
.btn-booking input[type="radio"] {
    display: none;
}
.btn-booking label {
    display: flex;
    margin: 3px;
    min-width: 30px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #CDB775;
    transition: all 0.5s ease 0s;
    color: #CDB775;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
}
.btn-booking input[type="radio"]:checked + label {
    background-color: #CDB775;
    color: white;
}
.btn-booking label:hover {
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
    transform: translateY(-3px);
    min-width: 40px;
    color: #9999A1;
  }
.btn > a {
    color: white;
    font-weight: normal;
    font-size: 0.8rem;
}
.table {
    font-size: 0.8rem
}
.td-title {
    font-size: 1.2rem;
    font-weight: bold;
}
/*date-picker*/
.datepicker {
    background-color: #ebebeb;
    border: 0;
    max-width: 150px;
}
.ui-widget.ui-widget-content {
    background-color: #fff;
    border: 1px solid #CDB775;
}

.ui-datepicker-header {
    background-color: black;
}

.ui-datepicker-title {
    color: white;
}
.ui-datepicker-prev, .ui-datepicker-next {
    background-color: #CDB775;
}
.ui-widget-content .ui-state-default {
    border: 0px;
    text-align: center;
    background-color: #fff;
    font-weight: normal;
    color: #3F3F3E;
}
.ui-state-highlight {
    background-color: #CDB775 !important;
}
.ui-widget-content .ui-state-default:hover {
    border: 0px;
    text-align: center;
    background-color: #000;
    font-weight: normal;
    color: #fff;
}
.ui-widget-content .ui-state-active {
    border: 0px;
    background-color: #CDB775;
    color: #fff;
}  

/*carousel */ 
.carousel slide {
    max-width: 500px;
}
.carousel-inner > .item >img{
    min-height : 300px;
    max-height : 300px;
    width : 100%;
}
.custom-indic {
    color: #3F3F3E;
}

/*upload images*/
.main {
    height: 100%; 
    display: flex; 
    justify-content: center;
}
.main .image-box{
    width:300px; 
    margin-top: 30px;
}
.main h2 {
    text-align: center; 
    color: #4D4D4D;
}
.main .tb {
    width: 100%; 
    height: 40px; 
    margin-bottom: 5px; 
    padding-left: 5px;
}
.main .file_input {
    margin-top: 10px; 
    margin-bottom: 10px;
}
.main .btn{
    width: 100%; 
    height: 40px; 
    border: none; 
    border-radius: 3px; 
    background: #27a465; 
    color: #f7f7f7;
}
.main .msg{
    color: red; 
    text-align: center;
}
.img-box{
    margin-top: 20px;
}
.img-block{
    float: left; 
    margin-right: 5px; 
    text-align: center;}
p {
    margin-top: 0;
}
.img {
    width: 375px; 
    min-height: 250px; 
    margin-bottom: 10px; 
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important; 
    border:6px solid #f7f7f7;
}
/*horaires*/
.horaires {
    background-color: #CDB775;
    padding: 15px;
    margin-bottom: 20px;
}
.horaires-text {
    text-align: center;
}
/*footer*/
footer {
    background-color:#CDB775;
    pmargin-top: 30px;
}