html {
    margin:0;
}
body {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    color: #3F3F3E;
    background-color: #fff;
    line-height: 1.7em;
    font-weight: 500;
}
.navbar {
    background-color: white;
    border-bottom: 1px solid #cccbcb;
}
.navbar-light .navbar-nav .nav-link {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1rem;
    color: rgba(0,0,0,.7);
}
.nav {
    width: 100%;
    margin: auto;
    justify-content: center;
    padding: 10px;
}
.navbar-nav, .navbar-collapse {
    align-items: end;
    justify-content: end;
}
#logo {
    height: 120px;
    width: auto;
}
.navbar-toggler {
    color: white;
    background-color: #CDB775;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4, p, button {
    text-align: center;
    padding-top: 20px;
}
h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2.5rem;
    padding-bottom: 15px;
}
h2 {
    font-size: 1.3rem;
    padding-bottom: 10px;
}
h3 {
    font-size: 1rem;
    padding-bottom: 0;
    margin-bottom: 0%;
}
p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    font-weight: 400;
    font-size: 1rem;
}
.courses {
    font-size: 0.8rem;
}
a {
    color: #3F3F3E;
    font-weight: bold;
}
a:hover {
    font-size: 1rem;
    color: #CDB775;
    text-decoration: none;
}
option{
    color: #3F3F3E;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9rem;
}
li {
    text-decoration: none;
    padding: 5px 15px 5px 15px;
}
.errors {
    background-color: rgb(202, 95, 95);
    color: white;
}
/*form*/
.form {
  background: #fff;
  box-shadow: 0 30px 50px 0 #c2c2c1;
  border-radius: 5px;
  max-width: 480px;
  margin: 0 auto 50px auto;
  padding-top: 5px;
  padding-bottom: 5px;
  left: 0;
  right: 0;
  border-top: 5px solid #CDB775;
}

.name, .email, .tel, .password, .select {
  background-color: #ebebeb;
}

.name:hover,.email:hover, .tel:hover, .password:hover {
  border-bottom: 5px solid #CDB775;
  height: 30px;
  width: 380px;
  transition: ease 0.5s;
}
.message {
    background-color: #ebebeb;
    overflow: hidden;
    height: 10rem;
  }
  
.message:hover {
    border-bottom: 5px solid #CDB775;
    height: 12em;
    width: 380px;
    transition: ease 0.5s;
  }

.info {
    font-size: 0.7rem;
    text-align: center;
}
.btn-radio {
    text-align: center;
}

legend {
    font-size: 1.2rem;
    padding-top: 10px;
    padding-bottom: 0;
}
.checkbox {
    margin-left: 170px;
}

.form-checkbox {
    display: block;
    margin: 5px auto 5px auto;
    min-width: 300px;
}
.formEntry {
    display: block;
    margin: 30px auto 5px auto;
    min-width: 300px;
    padding: 10px;
    border-radius: 2px;
    border: none;
    transition: all 0.5s ease 0s;
}

.submit {
    display: block;
    margin: 10px auto;
    min-width: 150px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CDB775;
    transition: all 0.5s ease 0s;
    color: #CDB775;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
}
.submit-inline {
    display: inline;
    margin: 10px auto;
    min-width: 150px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CDB775;
    transition: all 0.5s ease 0s;
    color: #CDB775;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
}

.submit:hover {
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
    transform: translateY(-3px);
    width: 200px;
    color: #9999A1;
}
/*fin form*/

.btn-booking input[type="radio"] {
    appearance: button;
}
.btn-booking label {
    display: inline-block;
    color: #CDB775;
    background-color: white;
    border: 1px solid #CDB775;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}
/*.btn-booking:hover {
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
    transform: translateY(-3px);
    width: 80px;
    color: #9999A1;
}*/
.btn > a {
    color: white;
    font-weight: normal;
    font-size: 0.8rem;
}
.table {
    font-size: 0.8rem
}
.td-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.datepicker {
    margin-bottom: 150px;
}

.carousel slide {
    max-width: 500px;
}
