html {
    margin:0;
}
.navbar {
    background-color: white;
    border-bottom: 1px solid #cccbcb;
}
.nav {
    width: 100%;
    margin: auto;
    justify-content: center;
    padding: 10px;
}
.nav-link  {
    font-family: 'Julius Sans One', sans-serif;
}
.navbar-nav, .navbar-collapse {
    align-items: end;
    justify-content: end;
}
#logo {
    height: 120px;
    width: auto;
}
.navbar-toggler {
    color: white;
    background-color: #CDB775;
}
body {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    color: #666;
    background-color: #fff;
    line-height: 1.7em;
    font-weight: 500;
}
/*div {
    width: 50%;
    margin: auto;
    justify-content: center;
    
}*/
h1, h2, h3, h4, p, button {
    text-align: center;
    padding-top: 20px;
}
h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2rem;
    padding-bottom: 15px;
}
h2 {
    font-size: 1.3rem;
    padding-bottom: 10px;
}
h3 {
    font-size: 1rem;
    padding-bottom: 0;
    margin-bottom: 0%;
}
p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    font-weight: 400;
    font-size: 1rem;
}
.courses {
    font-size: 0.8rem;
}
a {
    color: #666;
    font-weight: bold;
}
a:hover {
    font-size: 1rem;
    color: #CDB775;
    text-decoration: none;
}
option{
    color: #666;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9rem;
}
/*form*/
.form {
  background: #fff;
  box-shadow: 0 30px 50px 0 #c2c2c1;
  border-radius: 5px;
  max-width: 480px;
  margin: 0 auto 50px auto;
  padding-top: 5px;
  padding-bottom: 5px;
  left: 0;
  right: 0;
  border-top: 5px solid #CDB775;
}

.name, .email, .tel, .password {
  background-color: #ebebeb;
}

.name:hover,.email:hover, .tel:hover, .password:hover {
  border-bottom: 5px solid #CDB775;
  height: 30px;
  width: 380px;
  transition: ease 0.5s;
}

.info {
    font-size: 0.7rem;
    text-align: center;
}

.formEntry {
  display: block;
  margin: 30px auto 5px auto;
  min-width: 300px;
  padding: 10px;
  border-radius: 2px;
  border: none;
  transition: all 0.5s ease 0s;
}

.submit {
  display: block;
  margin: 10px auto;
  min-width: 150px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #CDB775;
  transition: all 0.5s ease 0s;
  color: #CDB775;
  background-color: white;
  font-size: 15px;
  font-weight: bold;
}

.submit:hover {
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  transform: translateY(-3px);
  width: 200px;
  color: #9999A1;
}
/*fin form*/

.btn > a {
    color: white;
    font-weight: normal;
    font-size: 0.8rem;
}
.table {
    font-size: 0.8rem
}